
<! -- Categories form -->
<div id="categories-form" class="container">
    <div class="fa fa-plus fa-2x" ng-click="showForm = !showForm"></div>
    <form class="form-horizonal" ng-show="showForm" ng-submit="submit()">
        <div class="message">
            {{form.message}}
        </div>

        <!-- Title -->
        <div class="form-group row">
            <label class="control-label col-sm-4">Category Name</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" ng-model="formData.name" required>
            </div>
        </div>

        <!-- Comment -->
        <div class="form-group row">
            <label class="control-label col-sm-6">Comment:</label>
            <div class="col-sm-4">
                <textarea class="form-control" rows="5" ng-model="formData.comment"></textarea>
            </div>
        </div>

        <!-- Submit -->
        <div class="form-group row centered">
            <button class="btn btn-sm" type="submit" value="submit">Submit</button>
        </div>

    </form>
    <!-- End Form -->
</div>
