
    <div style="width: 50px; height: 50px;" class="fa fa-plus" ng-click="showForm = !showForm"></div>
<! -- Expense form -->
<div id="expense-form" class="container">

    <form class="form-horizonal">
        <div class="message">
            {{formData.message}}
        </div>

        <!-- Title -->
        <div class="form-group row" ng-show="showForm" ng-submit="submit()">
            <label class="control-label col-sm-2">Title</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" ng-model="formData.title" required>
            </div>
        </div>

        <!-- Category -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Category</label>
            <div class="col-sm-10">
                <select ng-options="item as item.name for item in categories track by item.categoryId" ng-model="formData.category" required>
                </select>
            </div>
        </div>

        <!-- Cost -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Cost:</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" ng-model="formData.cost" step="0.01" min="0" value="0.00">
            </div>
        </div>

        <!-- Date -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Date:</label>
            <div class="col-sm-10">
                <md-datepicker ng-model="formData.date" required><md-datepicker>
            </div>
        </div>

        <!-- Comment -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Comment:</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="5" ng-model="formData.comment"></textarea>
            </div>
        </div>

        <!-- Submit -->
        <div class="form-group row centered">
            <button class="btn btn-sm" type="submit" value="submit">Submit</button>
        </div>

    </form>
    <!-- End Form -->
</div>
